<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!--Child-Parent Relative Joint Position-->

<xacro:property name="Spine_x" value="0.03491" />
<xacro:property name="Spine_y" value="0" />
<xacro:property name="Spine_z" value="0.156662" />

<xacro:property name="Neck_x" value="0.009206" />
<xacro:property name="Neck_y" value="0" />
<xacro:property name="Neck_z" value="0.45177" />

<xacro:property name="Left_Shoulder_x" value="-0.026813" />
<xacro:property name="Left_Shoulder_y" value="0.1509" />
<xacro:property name="Left_Shoulder_z" value="0.319573" />

<xacro:property name="Left_Elbow_x" value="-0.025701" />
<xacro:property name="Left_Elbow_y" value="0.021914" />
<xacro:property name="Left_Elbow_z" value="-0.289259" />

<xacro:property name="Left_Wrist_x" value="0.05674" />
<xacro:property name="Left_Wrist_y" value="0.001869" />
<xacro:property name="Left_Wrist_z" value="-0.272615" />

<xacro:property name="Right_Shoulder_x" value="-0.026813" />
<xacro:property name="Right_Shoulder_y" value="-0.1509" />
<xacro:property name="Right_Shoulder_z" value="0.319568" />

<xacro:property name="Right_Elbow_x" value="-0.025701" />
<xacro:property name="Right_Elbow_y" value="-0.02191" />
<xacro:property name="Right_Elbow_z" value="-0.28925" />

<xacro:property name="Right_Wrist_x" value="0.05674" />
<xacro:property name="Right_Wrist_y" value="-0.00187" />
<xacro:property name="Right_Wrist_z" value="-0.272619" />

<xacro:property name="Left_Hip_x" value="0.010679" />
<xacro:property name="Left_Hip_y" value="0.078109" />
<xacro:property name="Left_Hip_z" value="-0.02518" />

<xacro:property name="Left_Knee_x" value="0.019211" />
<xacro:property name="Left_Knee_y" value="-0.021046" />
<xacro:property name="Left_Knee_z" value="-0.375216" />

<xacro:property name="Left_Ankle_x" value="-0.018456" />
<xacro:property name="Left_Ankle_y" value="-0.016842" />
<xacro:property name="Left_Ankle_z" value="-0.382637" />

<xacro:property name="Right_Hip_x" value="0.010679" />
<xacro:property name="Right_Hip_y" value="-0.078109" />
<xacro:property name="Right_Hip_z" value="-0.02518" />

<xacro:property name="Right_Knee_x" value="0.019211" />
<xacro:property name="Right_Knee_y" value="0.021046" />
<xacro:property name="Right_Knee_z" value="-0.375216" />

<xacro:property name="Right_Ankle_x" value="-0.018456" />
<xacro:property name="Right_Ankle_y" value="0.016842" />
<xacro:property name="Right_Ankle_z" value="-0.382637" />

</robot>