<launch>
    
    <arg name="model_name" default="skeleton"/>
    <arg name="reference_frame" default="world"/>

    <!-- UDP communication arguments -->
    <arg name="udp_port" default="8001"/>

    <!-- RViz arguments -->
    <arg name="launch_rviz" default="true"/>
    <arg name="rviz_config_file" default="$(find xsens_mvn_ros)/rviz/xsens_visualization.rviz"/>

    <!-- Launch the node -->
    <node name="xsens" pkg="xsens_mvn_ros" type="xsens_client" output="screen">
        <param name="model_name" value="$(arg model_name)"/>
        <param name="reference_frame" value="$(arg reference_frame)"/>
        <param name="udp_port" value="$(arg udp_port)"/>
    </node>
  
    <!-- Launch RViz -->
    <node if="$(arg launch_rviz)" name="xsens_rviz" pkg="rviz" type="rviz" output="screen" args="-d $(arg rviz_config_file)"/>

</launch>
