<?xml version="1.0"?>
<robot name="xsens_model" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="model_name" default="skeleton"/>
    <xacro:arg name="color" default="blue" />
    <xacro:arg name="gender" default="male" />

    <xacro:arg name="j_spine_mobility" default="revolute" />
    <xacro:arg name="j_neck_mobility" default="fixed" /> 
    <xacro:arg name="j_wrist_mobility" default="fixed" /> 

    <xacro:property name="meshes_path" value="package://hrii_xsens_synthesizer/meshes/human_mesh/$(arg urdf_gender)" />

    <!-- Joint properties -->
    <xacro:include filename="$(find hrii_xsens_synthesizer)/urdf/xacro_MACROS/human/joints_limit.xacro"/>
    <xacro:include filename="$(find hrii_xsens_synthesizer)/urdf/xacro_MACROS/links_joints_macros.xacro"/>
    <xacro:include filename="$(find hrii_xsens_synthesizer)/urdf/xacro_MACROS/human/$(arg urdf_gender)/$(arg urdf_gender)_joint_location.xacro"/>

    <!-- List of intertial properties -->
    <xacro:include filename="$(find hrii_xsens_synthesizer)/urdf/xacro_MACROS/human/links_inertial_properties.xacro"/>
    <xacro:include filename="$(find hrii_xsens_synthesizer)/urdf/xacro_MACROS/tools_inertial_properties.xacro"/>

    <!-- MAIN XACRO FILE -->
    <xacro:include filename="$(find hrii_xsens_synthesizer)/urdf/xacro_MACROS/human/human_complete.xacro"/>

</robot>