<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!--Links inertial properties -->
<!--The masses are expressed in kilograms -->
    <!-- source="https://msis.jsc.nasa.gov/sections/section03.htm#_3.3_ANTHROPOMETRIC_AND" -->

<xacro:property name="Pelvis_mass" value="12.3" />  
<xacro:property name="Pelvis_ixx" value="1" />
<xacro:property name="Pelvis_ixy" value="1" />
<xacro:property name="Pelvis_ixz" value="1" />
<xacro:property name="Pelvis_iyy" value="1" />
<xacro:property name="Pelvis_iyz" value="1" />
<xacro:property name="Pelvis_izz" value="1" />

<xacro:property name="Torso_mass" value="28.6" />  
<xacro:property name="Torso_ixx" value="1" />
<xacro:property name="Torso_ixy" value="1" />
<xacro:property name="Torso_ixz" value="1" />
<xacro:property name="Torso_iyy" value="1" />
<xacro:property name="Torso_iyz" value="1" />
<xacro:property name="Torso_izz" value="1" />

<xacro:property name="Head_mass" value="5.5" />  
<xacro:property name="Head_ixx" value="1" />
<xacro:property name="Head_ixy" value="1" />
<xacro:property name="Head_ixz" value="1" />
<xacro:property name="Head_iyy" value="1" />
<xacro:property name="Head_iyz" value="1" />
<xacro:property name="Head_izz" value="1" />

<xacro:property name="L_UpperArm_mass" value="2.5" />  
<xacro:property name="L_UpperArm_ixx" value="1" />
<xacro:property name="L_UpperArm_ixy" value="1" />
<xacro:property name="L_UpperArm_ixz" value="1" />
<xacro:property name="L_UpperArm_iyy" value="1" />
<xacro:property name="L_UpperArm_iyz" value="1" />
<xacro:property name="L_UpperArm_izz" value="1" />

<xacro:property name="L_Forearm_mass" value="1.45" />  
<xacro:property name="L_Forearm_ixx" value="1" />
<xacro:property name="L_Forearm_ixy" value="1" />
<xacro:property name="L_Forearm_ixz" value="1" />
<xacro:property name="L_Forearm_iyy" value="1" />
<xacro:property name="L_Forearm_iyz" value="1" />
<xacro:property name="L_Forearm_izz" value="1" />

<xacro:property name="L_Hand_mass" value="0.53" />  
<xacro:property name="L_Hand_ixx" value="1" />
<xacro:property name="L_Hand_ixy" value="1" />
<xacro:property name="L_Hand_ixz" value="1" />
<xacro:property name="L_Hand_iyy" value="1" />
<xacro:property name="L_Hand_iyz" value="1" />
<xacro:property name="L_Hand_izz" value="1" />

<xacro:property name="R_UpperArm_mass" value="2.5" />  
<xacro:property name="R_UpperArm_ixx" value="1" />
<xacro:property name="R_UpperArm_ixy" value="1" />
<xacro:property name="R_UpperArm_ixz" value="1" />
<xacro:property name="R_UpperArm_iyy" value="1" />
<xacro:property name="R_UpperArm_iyz" value="1" />
<xacro:property name="R_UpperArm_izz" value="1" />

<xacro:property name="R_Forearm_mass" value="1.45" />  
<xacro:property name="R_Forearm_ixx" value="1" />
<xacro:property name="R_Forearm_ixy" value="1" />
<xacro:property name="R_Forearm_ixz" value="1" />
<xacro:property name="R_Forearm_iyy" value="1" />
<xacro:property name="R_Forearm_iyz" value="1" />
<xacro:property name="R_Forearm_izz" value="1" />

<xacro:property name="R_Hand_mass" value="0.53" />  
<xacro:property name="R_Hand_ixx" value="1" />
<xacro:property name="R_Hand_ixy" value="1" />
<xacro:property name="R_Hand_ixz" value="1" />
<xacro:property name="R_Hand_iyy" value="1" />
<xacro:property name="R_Hand_iyz" value="1" />
<xacro:property name="R_Hand_izz" value="1" />

<xacro:property name="L_UpperLeg_mass" value="10.34" />  
<xacro:property name="L_UpperLeg_ixx" value="1" />
<xacro:property name="L_UpperLeg_ixy" value="1" />
<xacro:property name="L_UpperLeg_ixz" value="1" />
<xacro:property name="L_UpperLeg_iyy" value="1" />
<xacro:property name="L_UpperLeg_iyz" value="1" />
<xacro:property name="L_UpperLeg_izz" value="1" />

<xacro:property name="L_LowerLeg_mass" value="4.04" />  
<xacro:property name="L_LowerLeg_ixx" value="1" />
<xacro:property name="L_LowerLeg_ixy" value="1" />
<xacro:property name="L_LowerLeg_ixz" value="1" />
<xacro:property name="L_LowerLeg_iyy" value="1" />
<xacro:property name="L_LowerLeg_iyz" value="1" />
<xacro:property name="L_LowerLeg_izz" value="1" />

<xacro:property name="L_Foot_mass" value="1.01" />  
<xacro:property name="L_Foot_ixx" value="1" />
<xacro:property name="L_Foot_ixy" value="1" />
<xacro:property name="L_Foot_ixz" value="1" />
<xacro:property name="L_Foot_iyy" value="1" />
<xacro:property name="L_Foot_iyz" value="1" />
<xacro:property name="L_Foot_izz" value="1" />

<xacro:property name="R_UpperLeg_mass" value="10.34" />  
<xacro:property name="R_UpperLeg_ixx" value="1" />
<xacro:property name="R_UpperLeg_ixy" value="1" />
<xacro:property name="R_UpperLeg_ixz" value="1" />
<xacro:property name="R_UpperLeg_iyy" value="1" />
<xacro:property name="R_UpperLeg_iyz" value="1" />
<xacro:property name="R_UpperLeg_izz" value="1" />

<xacro:property name="R_LowerLeg_mass" value="4.04" />  
<xacro:property name="R_LowerLeg_ixx" value="1" />
<xacro:property name="R_LowerLeg_ixy" value="1" />
<xacro:property name="R_LowerLeg_ixz" value="1" />
<xacro:property name="R_LowerLeg_iyy" value="1" />
<xacro:property name="R_LowerLeg_iyz" value="1" />
<xacro:property name="R_LowerLeg_izz" value="1" />

<xacro:property name="R_Foot_mass" value="1.01" />  
<xacro:property name="R_Foot_ixx" value="1" />
<xacro:property name="R_Foot_ixy" value="1" />
<xacro:property name="R_Foot_ixz" value="1" />
<xacro:property name="R_Foot_iyy" value="1" />
<xacro:property name="R_Foot_iyz" value="1" />
<xacro:property name="R_Foot_izz" value="1" />

</robot>