<launch> 
    <!-- RViz arguments -->
    <arg name="launch_rviz" default="true"/>
    <arg name="rviz_config_file" default="$(find hrii_xsens)/rviz/xsens_visualization.rviz"/>
    
    <!-- GUI arguments -->
    <arg name="launch_joint_state_gui" default="false"/>

    <!-- Human model arguments -->
    <arg name="urdf_gender" default="male" /> <!-- male or female -->
    <arg name="urdf_color" default="blue" /> <!-- material color -->

    <arg name="tool" default="false" /> <!-- use tool -->
    <arg name="tool_type" default="drill" /><!-- which tool -->

    <!-- <arg name="xacro_filename" value = "$(find hrii_xsens_synthesizer)/urdf/xacro_MACROS/human/human_model.xacro" /> -->
    <arg name="xacro_filename" value = "$(find hrii_xsens)/config/model_Mon_Oct_10_11_13_21_2022.xacro" />
    
    <!-- Load robot description ROS param -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg xacro_filename) 
                                                urdf_color:=$(arg urdf_color) 
                                                urdf_gender:=$(arg urdf_gender) 
                                                tool:=$(arg tool) tool_type:=$(arg tool_type)"/>

    <!-- Launch RViz -->
    <node name="xsens_rviz" pkg="rviz" type="rviz" output="screen" args="-d $(arg rviz_config_file)"/>

    <!-- Launch robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> 

    <!-- Launch joint state gui if launch_joint_state_gui is true -->
    <node if="$(arg launch_joint_state_gui)" name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />


</launch>