<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!--Child-Parent Relative Joint Position-->

<xacro:property name="Spine_x" value="0.014655" />
<xacro:property name="Spine_y" value="0" />
<xacro:property name="Spine_z" value="0.141526" />

<xacro:property name="Neck_x" value="-0.063413" />
<xacro:property name="Neck_y" value="0" />
<xacro:property name="Neck_z" value="0.467301" />

<xacro:property name="Left_Shoulder_x" value="-0.080288" />
<xacro:property name="Left_Shoulder_y" value="0.18774" />
<xacro:property name="Left_Shoulder_z" value="0.31485" />

<xacro:property name="Left_Elbow_x" value="0.024139" />
<xacro:property name="Left_Elbow_y" value="0.05782" />
<xacro:property name="Left_Elbow_z" value="-0.30101" />

<xacro:property name="Left_Wrist_x" value="0.142964" />
<xacro:property name="Left_Wrist_y" value="0.00401" />
<xacro:property name="Left_Wrist_z" value="-0.25684" />

<xacro:property name="Right_Shoulder_x" value="-0.080288" />
<xacro:property name="Right_Shoulder_y" value="-0.18774" />
<xacro:property name="Right_Shoulder_z" value="0.31485" />

<xacro:property name="Right_Elbow_x" value="0.024139" />
<xacro:property name="Right_Elbow_y" value="-0.05782" />
<xacro:property name="Right_Elbow_z" value="-0.30101" />

<xacro:property name="Right_Wrist_x" value="0.142964" />
<xacro:property name="Right_Wrist_y" value="-0.00401" />
<xacro:property name="Right_Wrist_z" value="-0.25684" />

<xacro:property name="Right_Tool_x" value="0.049964" />
<xacro:property name="Right_Tool_y" value="0.022305" />
<xacro:property name="Right_Tool_z" value="-0.095668" />

<xacro:property name="Left_Hip_x" value="-0.015078" />
<xacro:property name="Left_Hip_y" value="0.086535" />
<xacro:property name="Left_Hip_z" value="-0.034653" />

<xacro:property name="Left_Knee_x" value="-0.032642" />
<xacro:property name="Left_Knee_y" value="-0.011016" />
<xacro:property name="Left_Knee_z" value="-0.416217" />

<xacro:property name="Left_Ankle_x" value="-0.012443" />
<xacro:property name="Left_Ankle_y" value="-0.012306" />
<xacro:property name="Left_Ankle_z" value="-0.42362" />

<xacro:property name="Right_Hip_x" value="-0.015078" />
<xacro:property name="Right_Hip_y" value="-0.086535" />
<xacro:property name="Right_Hip_z" value="-0.034653" />

<xacro:property name="Right_Knee_x" value="-0.032642" />
<xacro:property name="Right_Knee_y" value="0.011016" />
<xacro:property name="Right_Knee_z" value="-0.416217" />

<xacro:property name="Right_Ankle_x" value="-0.012443" />
<xacro:property name="Right_Ankle_y" value="0.012306" />
<xacro:property name="Right_Ankle_z" value="-0.42362" />

</robot>