name: Sphinx documentation

on:
  push:
    branches:
      - noetic-devel

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Generate Sphinx documentation
        uses: ammaraskar/sphinx-action@master
        with:
          pre-build-command: "pip install sphinx_rtd_theme"
          docs-folder: "docs/sphinx/source"
          build-command: "sphinx-build -b html . ../build"

      - name: Deploy documentation in Github Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: "docs/sphinx/build"
